---
import BaseHead from "../components/BaseHead.astro";
import EventCard from "../components/EventCard.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import type { Event } from "../types/hygraph";

const response = await fetch(
  "https://api-eu-west-2.hygraph.com/v2/clrooruf81eh901w3fgi1oiyl/master",
  {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json",
    },
    body: JSON.stringify({
      query: `
	  	{
			events(first: 50) {
				createdAt
				id
				numberOfNights
				slug
				theme
				title
  			}
		}
      `,
    }),
  }
);

const data = await response.json();

console.log({ data: data.data });
console.log({ errors: data.errors });
const events = data.data.events;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="p-10 flex flex-col gap-3 font-quicksand">
      {
        events.map((event: Event) => (
          <EventCard
            title={event.title}
            theme={event.theme}
            slug={event.slug}
          />
        ))
      }
    </main>
  </body>
</html>
